<div ng-controller="MissionController">
	<div class="alert alert-warning" ng-show="songs.length===0">
		No songs queued, add one!
	</div>
	<div class="input-group">
		<span class="input-group-btn">
			<button
			class="btn btn-primary"
			ng-click="tabs[0].active=true"
			ng-show="tabs[1].active">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

			<div class="btn-group" ng-controller="PlayerController" ng-show="tabs[0].active">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="glyphicon glyphicon-cog">&nbsp;</span>
			  <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li>
			    	<a href="#" ng-click="play()" onclick="return false;">
			    		<span class="glyphicon glyphicon-play"></span>&nbsp;Play
			    	</a>
			    </li>
			    <li>
			    	<a href="#" ng-click="pause()" onclick="return false;">
			    		<span class="glyphicon glyphicon-pause"></span>&nbsp;Pause
			    	</a>
			    </li>
			    <li>
			    	<a href="#" ng-click="next(); refresh(5000)" onclick="return false;">
			    		<span class="glyphicon glyphicon-step-forward"></span>&nbsp;Next
			    	</a>
			    </li>
			    <li>
			    	<a href="#" ng-click="refresh()" onclick="return false;">
			    		<span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh
			    	</a>
			    </li>

			  </ul>
			</div>
		</span>
		<input type="text" class="form-control" ng-model="q" >
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="search()" ng-model="q">
				Search
			</button>
		</span>
	</div>

	<tabset>
		<tab active="tabs[0].active">
			<playlist></playlist>
		</tab>
		<tab active="tabs[1].active">
			<searchlist></searchlist>
		</tab>
	</tabset>
</div>