<div class="container-fluid">
	<div class="row-fluid" ng-controller="MissionController">
		<div class="span3">
		<div class="btn-group"
			ng-controller="PlayerController">
			<button class="btn btn-danger" ng-click="connect()">connect</button>
			<button class="btn btn-danger" ng-click="disconnect()">disconnect</button>
			<button class="btn btn-danger" ng-click="play()">Play</button>
			<button class="btn btn-danger" ng-click="pause()">Pause</button>
			<button class="btn btn-danger" ng-click="next()">Next</button>
		</div>
		<br>
			<button
			ng-click="tabs[0].active=true"
			ng-class="tabs[0].active ? 'btn btn-info' : 'btn btn-inverse'">
				Playlist
			</button>
			<div class="input-append">
    			<input class="span12" type="text" name="q" ng-model="q"/>
				<button 
				ng-click="search()"
				ng-class="tabs[1].active ? 'btn btn-info' : 'btn btn-inverse'">
					Search
				</button>
    		</div>

		<tabset>
			<tab active="tabs[0].active">
				<playlist></playlist>
			</tab>
			<tab active="tabs[1].active">
				<searchlist></searchlist>
			</tab>
		</tabset>
		</div>
		<div class="span9">
			<div id="ytplayerContainer">
				<div ng-show="socketOnline()" class="alert alert-success"><h1>ONLINE</h1></div>
				<div ng-show="!socketOnline()" class="alert alert-error"><h1>OFFLINE</h1></div>
				<div id="ytplayer"></div>
			</div>
		</div>
	</div>
</div>