<div id="joinAChannelContainer" style="min-width:480px;float:left;`">
	<h2><span class="blueText">&rang;&rang;</span>Login?</h2>
	<p>Yeee</p>
	<input id="query" name="query" ng-model="email">
</div>

  <div id="gConnect">
    <a href="https://accounts.google.com/o/oauth2/auth?response_type=token&client_id=730381482631.apps.googleusercontent.com&redirect_uri=http://localhost:3000/app/app/index-e2e.html&scope=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email">
    <button id="signin" class="g-signin">signing</button></a>